.back_botton {
  width: clamp(125px, 22vw, 330px);
  height: clamp(57.5px, 7.79vw, 115px);
  border-radius: 100px;
  -webkit-backdrop-filter: blur(15px);
  font-family: 'Outfit';
  font-size: clamp(16px,2.6vw,40px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.88px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  user-select: transparent;
  -webkit-user-select: transparent;
  -webkit-tap-highlight-color: transparent;
  border: 0.825px solid #fff;
  -webkit-text-fill-color: #fff;
  color: #fff ;
  padding: clamp(19px,2.6vw,38.7px) clamp(19px, 3.9vw, 57.7px) clamp(19px, 2.6vw, 38.7px) clamp(28.5px, 3.9vw, 57px) ;
  box-shadow: 2px 7px 9px 0px #4c23511f;
  backdrop-filter: blur(15px);
}
.back_botton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: linear-gradient(359deg, #ffffffd1 24%, #ffffff75 84%);
  left: 0;
  z-index: -1;
  opacity: 0.5;
  transition: color 0.3s ease-in-out, -webkit-text-fill-color 0.3s ease-in-out;
}

.back_botton:hover{
  -webkit-text-fill-color: rgba(161, 231, 249, 0.9);
  color: rgba(161, 231, 249, 0.9);
}
.back_botton svg {
  width: 100%;
  margin-right: 0.57vw;
}

@media (max-width:1000px) {
  .back_botton{
    font-size: clamp(12px, 4.3vw, 18.4px);
    padding: 14px 20px;
    width: clamp(60px,37vw,120px);
    height: clamp(21px,14vw,42px);
  }
  .back_botton::after{
    font-size: clamp(12px, 4.3vw, 18.4px);
    /* padding: 14px 20px; */
    width: clamp(60px,37vw,120px);
    height: clamp(21px,14vw,42px);
  }
  
}


/* @media (min-width:2000px) {
  .back_botton {
    font-size: 40px;
  }
  .back_botton svg {
    width: 90px;
  }
}

@media (min-width:1500px) and (max-width:1999px){
  .back_botton {
    font-size: 34px;
  }
  .back_botton svg {
    width: 80px;
  }
} */

/* @media (min-width:1050px) and (max-width:1449px){
  .back_botton {
    font-size: 32px;
  }
  .back_botton svg {
    width: 70px;
  }
} */