#root{
  height: 100%;
}

.App{
height: 100%;
}
/* .contact{
  height: 100%;
}  */
.contact {
  /* background-image: url('../assets/images/background/contact-background-1.webp'); */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
  height: 100%;
  /* background-position: top,left; */
  
}

.contactBg{
  height: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background: rgb(211,184,230);
  background:linear-gradient(180deg, rgba(211, 184, 230, 1) 1%, rgb(74 144 226 / 72%) 35%, rgb(246 245 245) 79%, rgb(127 62 152 / 64%) 99%, rgba(245, 245, 245, 0.25) 115%, rgb(74 144 226 / 30%) 4%);
}
.contact .navbar {
  padding: 0 1em;
}
.contact .contact-wrapper
{
  padding: 0 4.2vw 0 8.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
/* .contact .footer
{
  position: absolute;
  bottom: 0;
} */
.contact > video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
  z-index: -1;
  opacity: 0.2;
  top:0;
  left:0;
}
.contact h1 {
  color: #A1E7F9;
  /* font-family: Gilroy;
  font-size: 86px; */
  font-family: 'Outfit';
  font-size: clamp(50px, 6.6vw, 96px);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.92px;
}
.contact .cont_info {
  /* padding: 0 100px; */
  z-index: 2;
}
.contact .cont_info .info {
  display: flex;
}
.contact .cont_info .info > p {
  color: #7f3e98;
  font-family: 'Outfit';
  font-size: 2.3vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.8px;
}
.contact .cont_info .info > ul {
  list-style-type: none;
  margin-top: 0.5em;
  /* margin-right: 2em; */
  margin-left: 0.5em;
}
.contact .cont_info .phone > ul p {
  color: #56005e;
  font-family: 'Outfit';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.48px;
}
.contact .cont_info .email > ul p {
  color: #56005e;
  font-family: 'Outfit';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.48px;
}
.contact .office_info {
  display: flex;
  justify-content: center;
  /* padding: 0 200px; */
  z-index: 2;
}
/* .contact .office_info .container {

  margin-left: auto;
} */

/* .contact .linkedIn-container
{
  margin-top: 5.7vw;
} */
.contact .subtitle {
  color: #7f3e98;
  font-family: 'Outfit';
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 0.3em;
}
.contact .sublist {
  list-style-type: none;
  z-index: 2;
}
.contact .sublist p {
  list-style-type: none;
  color: #56005e;
  font-family: 'Outfit';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.48px;
}
.contact .sublist a {
  list-style-type: none;
  color: #56005e;
  font-family: 'Outfit';
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.48px;
  text-decoration: underline;
}

.contact .linkedin_info {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 200px; */
  /* padding-bottom: 60px; */
}


.contact .linkedin_info .linkedIn-btn {
  border-radius: 82.5px;
  border: 0.825px solid #fff;

  background-clip: none;
  -webkit-text-fill-color: #fff;
  color: #fff ;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  background: linear-gradient(156deg, #7f3e989e 43%, #b3effeb5 84%);
  transition: all 0.1s ease-in-out;
  box-shadow: 2px 7px 9px 0px #4c23511f;
}

.contact .linkedin_info .linkedIn-btn:hover{
  transition: all 0.1s ease-in-out;
  color: rgba(161, 231, 249, 0.9);
  background: linear-gradient(156deg, #7e3e98c5 43%, #b3effece 84%);
  -webkit-text-fill-color:  rgba(161, 231, 249, 0.9);
  opacity: .9;
}

.contact .footer{
  margin-top: auto;
}

@media (max-width: 999px) {
  .contact .navbar {
    padding: 0 0em;
  }
  /* .contact > .navbar.mobile.closed{
    background: #c4adf000 !important;
    backdrop-filter: blur(0px)!important;
  } */
  .contact  {
    justify-content: normal;
  }
  .contact .cont_info {
    padding: 0 100px;
  }
  .contact .office_info {
    display: flex;
    justify-content: center;
    padding: 0 100px;
  }
  .contact .linkedin_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    padding-bottom: 0px;
  }
}
@media (max-width: 1000px) {

  .contact > .contact-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 20vw;
    height: 100%;
    /* height: 100vh; */
  }

  .contact > video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
    z-index: -1;
    opacity: 0.2;
    top:0;
    left:0;
  }

  .contact .cont_info h1{
    font-size: clamp(32px, 10vw, 64px);
    padding-bottom: 26px;
  }

  /* .contact .cont_info .info > ul{ */
    /* display: flex; */
    /* height: min-content; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin: 0.3em 0 auto 0.5em; */
  /* } */
  .contact .cont_info .info > ul{
    display: flex;
    height: min-content;
    flex-direction: column;
    margin: 0 0 0 0;
    /* align-items: center; */
    /* margin: 0; */
  }

  .contact .cont_info .phone
  {
    align-items: center;
    font-size: clamp(16px, 5vw, 32px);
    margin-bottom: 26px;
  }
  .contact .cont_info .email
  {
    
    font-size: clamp(16px, 5vw, 32px);
  }
  .contact .cont_info  .phone > ul{
    margin: auto 0 0 8px;
    font-size: clamp(14px, 4.3vw, 28px);
  }
  .contact .cont_info  .email > ul{
    margin: 8px 0 0 8px;
    font-size: clamp(14px, 4.3vw, 28px);
  }
  .contact .cont_info  .email{
    margin: 0 0 8px 0;
  }

  .contact .cont_info  .email > ul p, .contact .cont_info  .phone > ul  p{ 
    margin: auto 0 auto 0.3em;
    font-size: clamp(14px, 4.3vw, 28px);
    } 
  .contact .cont_info {
    padding: 0 16px;
    font-size: clamp(16px, 5vw, 32px);
  }
  .contact .cont_info .info > p {
    font-size: clamp(16px, 5vw, 32px);
  }
  .contact .office_info {
    font-size: clamp(16px, 5vw, 32px);
    display: flex;
    justify-content: center;
    padding: 0 16px;
    width: max-content;
  }

  .contact .linkedIn-container{
    margin-right: auto;
  }
  .contact .linkedin_info {
    font-size: clamp(16px, 5vw, 32px);
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    padding-bottom: 0px;
  }
    .contact .linkedin_info .linkedIn-btn{
      font-size: clamp(16px, 5vw, 32px);
      /* padding: 14px 20px; */
      width: clamp(60px,37vw,120px);
      height: clamp(21px,14vw,42px);
      /* margin-top: 15vw; */
      /* margin-bottom: 3.5em; */
      margin: auto;
    }

    .contact .sublist  p, .contact .sublist  a
    {
      font-size: clamp(14px, 4.3vw, 28px);
    }
    
  
}

@media (min-width:2000px) {
  .contact h1 {
    font-size: 120px;
  }
  .contact .cont_info .info > p {
    font-size: 35px;
    /* line-height: 2.8; */
  }
  .contact .cont_info .info > ul p {
    font-size: 28px;
    /* line-height: 2.8; */
  }
  .contact .subtitle {
    font-size: 36px;
  }
  .contact .sublist p {
    font-size: 25px;
  }
  .contact .sublist a {
    font-size: 28px;
  }
}

/* @media (max-width:1500px) {
  .contact h1 {
    font-size: clamp(50px, 6.6vw, 90px);
  }
  .contact .cont_info .info > p {
    font-size: 25px;
    line-height: 2.8;
  }
  .contact .cont_info .info > ul p {
    font-size: 18px;
    line-height: 2.8;
  }
  .contact .subtitle {
    font-size: 25px;
  }
  .contact .sublist p {
    font-size: 18px;
  }
  .contact .sublist a {
    font-size: 18px;
  }
} */

@media (min-width:1000px) {
  .contact h1 {
    font-size: clamp(50px, 6.6vw, 100px);
  }
   .contact .cont_info .info > p {
    font-size: clamp(16px, 2.6vw, 40px);
    /* line-height: 2.8; */
  } 
  .contact .cont_info .info > ul p { 
    font-size: clamp(14px, 1.6vw, 24px);
    /* line-height: 2.8; */
  }
  .contact .subtitle {
    font-size: clamp(16px,2.6vw,40px);
  }
  .contact .sublist p {
    font-size: clamp(14px, 1.6vw, 24px);
  }
  .contact .sublist a {
    font-size: clamp(14px, 1.6vw, 24px);
  }
}