footer {
  color: #fff;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.96px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: .9em 1.6em;
  margin-top: 1.5em;
  /* cursor: pointer; */
}
@media (max-width: 850px){
  footer{
    font-size: 8px;
  }
  .rightelem{
    padding: 0 5px 0 0;

  }
}
@media (min-width: 2000px){
  footer{
    font-size: 20px;
  }
  
}
@media (min-width: 1500px){
  footer{
    font-size: 15px;
  }

  
}