/* .works { */

  /* background: linear-gradient(
      0deg,
      rgba(74, 144, 226, 0.15) 0%,
      rgba(74, 144, 226, 0.15) 100%
    ),
    linear-gradient(
      0deg,
      rgba(245, 245, 245, 0.4) 0%,
      rgba(245, 245, 245, 0.4) 100%
    ),
    linear-gradient(
      180deg,
      #d3b8e6 0%,
      #4a90e2 36.5%,
      rgba(186, 210, 239, 0.74) 60%,
      rgba(246, 245, 245, 0.7) 72.5%,
      rgba(198, 172, 208, 0.76) 83.5%,
      #7f3e98 100%
    ); */
  /* background: #b79bf0; */
/* } */

.works .navbar {
  padding: 0 1em;
}

.works > h1 {
  color: #A1E7F9;
  font-family: 'Gilroy';
  font-size: 86px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.92px;
  padding: 0 60px;
  margin-top: 0.5em;
  text-transform: uppercase;
}

.works .works_nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
  justify-content: center;
}
.works .works_nav .work {
  width: calc((100% / 5) - 3em);
  margin: 3em 1.5em;
  position: relative;
}
.works .works_nav .work .img {
  width: 100%;
  height: 170px;
  flex-shrink: 0;
  background: #7f3e98;
  border-radius: 20px;
}
.works .works_nav .work .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.works .works_nav .work .text {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 15px;
  border: 1.6px solid #fafafa;
  /* opacity: 0.7; */
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  color: #fff;
  text-align: center;
  font-family: 'Outfit';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding: 0 0.6em;
  /* line-height: 20px; */
  letter-spacing: -0.48px;
  margin: 1em;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  width: 95%;
  margin: 1em auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.28) 5.54%,
    rgba(255, 255, 255, 0.12) 93.74%
  );
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
}
.works .works_nav .work .text.active {
  color: #56005e;
}
.works > .info > .text {
  color: #fff;
  font-size: 18px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.32px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.28) 5.54%,
    rgba(255, 255, 255, 0.12) 93.74%
  );
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* width: 60%; */
  /* height: 230px; */
  padding: 2em;
  flex-shrink: 0;
  position: relative;
  /* bottom: -10em; */
  margin-top: 3em;
  /* opacity: 0; */
  /* animation: fadeIn forwards ease-in-out 2s 4.5s; */
  /* position: absolute; */
  /* margin-bottom: -3em; */
  margin-left: 5.1em;
  margin: 3em 4em;
  font-family: 'Outfit';
}
.works > .info > .logos {
  width: 100%;
  position: relative;
  margin-bottom: 5em;
}
.works > .info > .logos img {
  width: 100%;
}

/* .works .eachwork * {
  pointer-events: none; */
/* } */
.works .eachwork {
  width: 60%;
  margin: 0 auto;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  animation: fadeIn 0.5s forwards ease-in-out;
}

.works .eachwork > .image {
  height: 240px;
  align-self: stretch;
  /* background: red; */
  width: 100%;
  /* margin: 0 auto; */
  position: relative;
  border-radius: 20px;
  margin-bottom: 1.5em;
  z-index: 2;
}
/* .works .eachwork > .image > svg {
  width: 100%;
} */
.works .eachwork > .image > svg {
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.6em;
  cursor: pointer;
  z-index: 2;
  pointer-events: all;
  /* box-shadow: #56005e 4px 4px; */
}
.works .eachwork > .image > svg > circle {
  fill: transparent;
  outline: transparent;
  stroke: transparent;
}
.works .eachwork .info p:nth-child(1) {
  color: #fff;
  /* text-align: center; */
  font-family: 'Outfit';
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px; /* 62.5% */
  /* letter-spacing: -0.64px; */
}
.works .eachwork .info p:nth-child(2) {
  color: #90e8ff;
  /* text-align: center; */
  font-family: 'Outfit';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 71.429% */
  /* letter-spacing: -0.56px;/ */
  margin: 0.1em 0;
}
.works .eachwork .info p:nth-child(3) {
  color: #fff;
  font-family: '''Outfit''';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 29px; 103.571% */
  letter-spacing: -0.56px;
}

.works .eachwork.active .info {
  position: relative;
  transition: 0.5s;
  /* height: fit-content; */
  /* height: calc(100% - 1px); */
  height: 100%;
}
.works .eachwork .info {
  /* position: absolute; */
  height: 0;
  transition: 0.5s;
  /* z-index: 22; */
  bottom: 0;
  /* overflow: hidden; */
  padding-bottom: 1em;
}
/* .works .eachwork .info p {
} */
.works .eachwork .images > svg {
  width: 55px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.6em;
  cursor: pointer;
  z-index: 2;
  pointer-events: all;
}
.works .eachwork .info > div {
  transform: translateY(-100%);
  opacity: 0;
  /* z-index: -1; */
  position: relative;
  transition: 0.5s;
}

.works .eachwork.active .info > div {
  transform: translateY(0%);
  opacity: 1;
  /* z-index: -1; */
  position: relative;
}

.works .eachwork .info > div.images .image {
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 1em;
}
.works .eachwork .info > div.images .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.works .eachwork.active > .image > svg {
  transform: rotateX(0) scale(1.5);
  perspective: 1000px;
}
.works .eachwork > .image > svg {
  transform: rotateX(180deg) scale(1.5);
  perspective: 1000px;
  transition: 0.5s;
}
.works .eachwork > .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.works > video {
  width: 100%;
  position: absolute;
  opacity: 0.7;
  mix-blend-mode: color-burn;
  z-index: -1;
}
.works .back_btn {
  margin-bottom: 3.5em;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1090px) {
  .works .works_nav .work .text {
    font-size: 16px;
    font-family: ''Outfit'';
  }
  .works .works_nav .work {
    width: calc((100% / 5) - 1em);
    margin: 1em 0.5em;
    position: relative;
  }
}
@media (max-width: 900px) {
  .works .navbar {
    padding: 0 0em;
  }
  .works .works_nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
  }
  .works > .info > .text {
    padding: 1em;
    margin: 3em 1em;
  }
  .works > video {
    width: 100%;
    position: absolute;
    /* opacity: 0.7; */
    mix-blend-mode: color-burn;
    z-index: -1;
  }
 
  .works .works_nav .work {
    width: calc((100% / 3) - 1em);
    margin: 1em 0.5em;
    position: relative;
  }
  .works .works_nav .work .img {
    height: 130px;
  }
  .works .works_nav .work .text {
    height: 55px;
    width: 90%;
  }
  .works .eachwork {
    width: 90%;
  }
  .works > h1 {
    font-family: 'Outfit';
    font-size: 60px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .works .works_nav .work {
    width: calc((100% / 2) - 1em);
    margin: 0.5em 0.5em;
    position: relative;
  }
  .works .eachwork > .image {
    height: 140px;
  }
  .works .works_nav .work .text {
    height: 55px;
    width: 100%;
  }
}

@media (min-width: 2000px) {
  .works .works_nav .work .text {
    font-size: 25px;
    height: 70px;
    
  }
  .works .works_nav .work .img {
    height: 230px;
   
  }
  .works > .info > .text {
    font-size: 25px;
  }
}
@media (min-width: 1500px) {
  .works .works_nav .work .text {
    font-size: 25px;
    height: 70px;
    
  }
  .works .works_nav .work .img {
    height: 220px;
   
  }
  .works > .info > .text {
    font-size: 24px;
  }
}
